body {
    background-color: lightgreen;
  
    transition: background-color .5s;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .player {
    height: 95vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  
  .details {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
  }
  
  .track-art {
    margin: 25px;
    height: 250px;
    width: 250px;
    background-image: url("https://images.pexels.com/photos/262034/pexels-photo-262034.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-size: cover;
    border-radius: 15%;
  }
  
  .now-playing {
    font-size: 1rem;
  }
  
  .track-name {
    font-size: 3rem;
  }
  
  .track-artist {
    font-size: 1.5rem;
  }
  
  .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .playpause-track, .prev-track, .next-track {
    padding: 25px;
    opacity: 0.8;
  
    /* Smoothly transition the opacity */
    transition: opacity .2s;
  }
  
  .playpause-track:hover, .prev-track:hover, .next-track:hover {
    opacity: 1.0;
  }
  
  .slider_container {
    width: 75%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .seek_slider, .volume_slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: black;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .seek_slider::-webkit-slider-thumb, .volume_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .seek_slider:hover, .volume_slider:hover {
    opacity: 1.0;
  }
  
  .seek_slider {
    width: 60%;
  }
  
  .volume_slider {
    width: 30%;
  }
  
  .current-time, .total-duration {
    padding: 10px;
  }
  
  i.fa-volume-down, i.fa-volume-up {
    padding: 10px;
  }
  
  i.fa-play-circle, i.fa-pause-circle, i.fa-step-forward, i.fa-step-backward {
    cursor: pointer;
  }


  /* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 8px 10px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    border-radius: 8px;
  }
  
  /* The popup chat - hidden by default */
  .chat-popup {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 15px;
    /* border: 3px solid #000000; */
    z-index: 9;

  }

  h1{
     text-align: center; 
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width textarea */
  .form-container textarea {
    width: 270px;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
  }

  #name{
    width: 270px;
    padding: 0px 15px;
    margin: 10px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 0px;
  }

  /* When the textarea gets focus, do something */
  .form-container textarea:focus {
    background-color: #ddd;
    outline: none;
  }

  #name:focus {
    background-color: #ddd;
    outline: none;
  }


  
  /* Set a style for the submit/send button */
  .form-container .btn {
    background-color: #28c6e2;
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    width: 90px;
    margin-bottom:10px;
    opacity: 0.8;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: large;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: rgb(207, 8, 8);
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }




  /* #ip {
      font-family: 'Courier New', Courier, monospace;
      margin-bottom: 0px;
      margin-top: 0px;
      font-size: 10px;
      display: none;
  } */

